torch
torchaudio
torchvision
pytorch_lightning==2.4.0
opencv-python-headless==4.10.0.84
einops==0.8.0
moviepy==1.0.3
h5py==3.12.1
matplotlib==3.9.2
scikit-learn==1.5.2
scikit-image==0.24.0
tensorboardX==2.6.2.2
prettytable==3.12.0
